.toggle-switch-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  height: 4vh;

  transition: all 0.4s ease-in-out;
}
.toggle-switch-container:hover {
  background-color: #121314;
}
.toggle-switch-container > p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  font-size: 1.75vh;
}
.toggle-switch {
  position: relative;
  width: 6vw;
  display: inline-block;
  text-align: left;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #ddd;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 3.5vh;
  padding: 0;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.inner:before {
  box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
  content: " ";
  background-color: rgba(38, 208, 124, 1);
  color: #fff;
}
.inner:after {
  box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
  content: " ";
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  display: block;
  width: 2vw;
  margin: 6%;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 52.5%;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.2s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}